---
import { fade, slide  } from 'astro:transitions';

import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';
export interface Props {
	seo?: BaseHeadProps;
}
const { seo } = Astro.props;

const { page } =  Astro.params

import { getGlobalSiteSettings, getAppearance, getMainMenu } from '../lib/sanityApi.js';
const globalSiteSettings = await getGlobalSiteSettings();
const appearance = await getAppearance();
const mainMenu = await getMainMenu();

// import { getSiteSettings } from '../lib/sanityApi.js';
// const siteSettings = await getSiteSettings();
---

<!-- transition:animate="none" -->
<!-- fade({ duration: '1.4s' }) -->
<html lang="de" transition:animate={"none"}>
  <head>
    <BaseHead globalSiteSettings={globalSiteSettings} {...seo} />
  </head>
  <body>
    <!-- <slot name="header" /> -->

    <!-- <AltHeader /> -->

    <!-- <div transition:animate="slide"> -->
    <!-- <div transition:animate={fade({ duration: '0.3s' })}> -->
      <slot />
    <!-- </div> -->
    <slot name="footer" />

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"  rel="stylesheet" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  </body>
</html>


<style>



.header-wrapper {
  z-index: 999;
}
</style>
