---

// Import Components
import { Image } from "astro:assets";
import Layout from "../../layouts/Base.astro";


export async function getStaticPaths() {
    return [
        { params: { page: 'testpage' }, props: { /* optional */ } },
    ]
}

const { page } =  Astro.params

---


<Layout>

    <h2>View Transition Test</h2>

    <a href="/bigViewTransition">
        <Image
            width={300}
            height={200}
            src="../../../public/assets/hero-test.png" alt="Astro Logo" 
            transition:name="testanimation"
            transition:animate="initial"
        />
    </a>

</Layout>
