---
/*
Einige Dinge zu beachten:

Ich habe den <template>-Tag entfernt, da er in Astro nicht benötigt wird.
Ich habe die v-for-Schleife durch die JavaScript map-Funktion ersetzt.
Ich habe die :key, :href und :class Direktiven durch die entsprechenden JSX-Attribute ersetzt.
Ich habe den <style>-Block beibehalten, aber das scoped-Attribut entfernt, da Astro keine native Unterstützung für scoped Styles bietet. Du könntest jedoch eine CSS-Modul-Lösung verwenden, wenn du das benötigst.
Ich habe den Code für die Daten und Funktionen im Frontmatter-Bereich (zwischen den --- Zeilen) als Kommentar eingefügt. Du müsstest deine eigenen Daten und Funktionen importieren.
Hoffentlich hilft dir das weiter!

*/ 

import { urlFor } from '../../lib/sanityApi.js';

interface NavItem {
    title: string
    slug: string
}
interface SiteSettings {
    mainNav: Array<NavItem>
    footerNav: Array<any>
    siteLogo?: Object
}
interface Props {
    siteSettings: SiteSettings
    slug: string | undefined
}
// const props = defineProps({
//     siteSettings: Object as () => SiteSettings,
//     slug: String
// })



// let env = import.meta.env
// console.log('env from Header.astro: ', env)



const data = Astro.props as Props

const mainNav: Array<NavItem> = []
const computedMainNav = () => {
    // console.log('props.siteSettings.mainNav: ', props.siteSettings.mainNav)
    data.siteSettings.mainNav.map((navItem: NavItem) => {
        if(navItem.slug === '/') {
            mainNav.push(navItem)
        } else {
            // navItem.slug = '/page' + navItem.slug
            mainNav.push(navItem)
        }
    })
}
computedMainNav()
---


<header>
    <div class="inner">
        <a href="/" aria-label="Zurück zur Startseite">
            <!-- <img src={urlFor(data.siteSettings.siteLogo).format('webp').url()} alt="Logo der Seite"/> -->
            <?xml version="1.0" encoding="utf-8"?>
            <svg fill="#000000" height="56px" width="auto" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
            viewBox="0 0 1102 401" xml:space="preserve">
            <style type="text/css">
                .st0{fill:#4D4543;}
                svg:hover .st0{fill:rgb(251 146 60);}
            </style>
            <g>
                <path class="st0" d="M237.6,267.4c-0.7-8.7-1.8-14.9-3.2-18.7c-1.4-3.7-3.7-6.4-6.7-8c-3.1-1.6-7-2.4-11.7-2.4
                    c-3.4-6.4-5.1-12.6-5.1-18.8c0-7.3,1.6-12.5,4.9-15.5c3.3-3,8.9-4.5,17-4.5h61.3c12.6,0,21,2.1,25.3,6.2c4.3,4.1,6.5,12.5,6.5,25
                    v58.7c0,24.7,0.9,57,2.8,96.7c-10.3,1.9-22.8,2.8-37.4,2.8c-3.9,0-11.1-6.6-21.6-19.7c-34.5,16.9-69.8,25.3-106,25.3
                    c-57.9,0-99.7-14.1-125.4-42.4C12.7,323.9-0.2,278.1-0.2,215c0-73.1,17-127.2,51-162.5C84.9,17.3,134-0.3,198.3-0.3
                    c40.3,0,68,2.9,83.2,8.6c15.2,5.7,22.8,16.1,22.8,31.1c0,14.4-5.8,29-17.4,43.6c-37.3-19.5-73.6-29.2-108.8-29.2
                    c-26,0-46.1,9.3-60.3,27.8C103.6,100,96.5,135,96.5,186.6c0,60.3,6.9,101.1,20.8,122.3c13.9,21.2,37.9,31.8,72.2,31.8
                    c16.5,0,32.9-2.2,49.2-6.7C238.8,298.3,238.4,276.1,237.6,267.4z"/>
                <path class="st0" d="M633.3,8.1c15.6,5.6,23.5,16.6,23.5,32.9c0,15.6-5.7,29.5-17.1,41.9c-43.3-19.5-80.9-29.2-112.7-29.2
                    c-21.2,0-35.9,3.7-44.1,11c-8.2,7.3-12.4,17.9-12.4,31.8c0,16.5,5.2,28.8,15.5,36.8c10.3,8.1,31.1,16.7,62.4,25.9
                    c39.4,10.3,69.7,23.3,90.9,39.1c21.3,15.7,32.4,41.4,33.3,77c0,40.5-14.6,70.5-43.7,90.1c-29.1,19.6-71.6,29.4-127.5,29.4
                    c-40.5,0-70.3-3-89.5-9c-19.2-6-28.8-17.9-28.8-35.7c0-15.7,6.6-29.7,19.7-41.9c42.9,21.7,83.1,32.6,120.6,32.6
                    c24.5,0,41.7-3.2,51.4-9.7c9.7-6.5,14.6-17.2,14.6-32.2c0-17.6-7.6-31.3-22.8-41c-15.2-9.7-40.2-19.6-75.1-29.5
                    c-37.1-9.9-63.8-23.7-80-41.3c-16.2-17.6-24.3-40.2-24.3-67.7c0-37.7,13.4-67,40.1-88c26.7-21,63.5-31.5,110.3-31.5
                    C585.7-0.3,617.6,2.5,633.3,8.1z"/>
                <path class="st0" d="M1097.2,5.3c3.2,6.9,4.8,13.9,4.8,20.8c0,6.7-1.2,11.4-3.7,13.9c-2.4,2.5-6.3,3.8-11.5,3.8h-13.5
                    c-12.2,36.2-31.9,96.3-59.2,180.5c-27.3,84.1-45.3,133.5-54.1,148.1c-8.8,14.6-27.3,21.9-55.4,21.9c-29.8,0-46.3-1-49.5-3.1
                    c-3.2-2.1-20.7-51.3-52.4-147.7c-31.8-96.4-55-163-69.6-199.7h-23.6c-3.4-8.2-5.1-16.1-5.1-23.6c0-5.2,1.4-9,4.2-11.4
                    c2.8-2.3,6.9-3.5,12.4-3.5h139.7c3.2,6.9,4.8,13.9,4.8,20.8c0,6.7-1.2,11.4-3.7,13.9c-2.4,2.5-6.3,3.8-11.5,3.8h-13.8
                    c4.1,20.2,18.2,70.2,42.3,150c24.1,79.7,37.8,119.6,41.3,119.6c3.5,0,15.4-39.4,35.8-118.3c20.4-78.9,31.3-129.3,32.6-151.2h-26.4
                    c-3.2-8.2-4.8-16.1-4.8-23.6c0-5.2,1.4-9,4.1-11.4c2.7-2.3,6.9-3.5,12.5-3.5H1097.2z"/>
            </g>
            </svg>
        </a>
        
        <nav>
            {mainNav.map((nav, index) => (
                <a
                    href={nav.slug}
                    class={nav.slug === data.slug ? 'active' : ''}
                >
                    {nav.title}
                </a>
            ))}
             <a href="/page/ueber-uns">Über uns</a>
        </nav>
    </div>
    <br />
    <!-- <p>{JSON.stringify(siteSettings)}</p> -->
</header>
<div class="header-space"></div>









