---

const mainNav = Astro.props.mainNav

const currentURL = Astro.request.url;

---


<nav role="navigation" class="toggle-mobile-nav bg-dsv-orange">
    
    {mainNav.map((nav, index) => (
        <>
            <a
                href={nav.slug}
                class={
                    (`http://localhost:4321${nav.slug}` === currentURL ? 'active' : '')
                }
            >
                {nav.title} 
            </a>
        </>
    ))}

</nav>


