<h2 class="post-title text-transition self-start font-bold text-gray-900" style="animation-duration: 5000ms; animation-timing-function: ease-in-out; view-transition-name: post-title-Testpage27;" data-astro-cid-3jwsqc2o=""><!-- 
    style={`view-transition-name: ${postTitleTransitionName}`}

    transition:name={postTitleTransitionName}
    transition:animate="initial"
-->Testpage</h2>


<h2 class="post-title text-transition self-start font-bold text-gray-900" data-astro-cid-relfimn4="" style="view-transition-name: post-title-Testpage27;"><!-- 
    style={`view-transition-name: ${postTitleTransitionName}`}
    

    transition:name={postTitleTransitionName}
    transition:animate="initial"
-->Testpage</h2>





<img id="post-image-Testpage27" 
width="360" 
height="240" 
src="https://cdn.sanity.io/images/tz4j4rda/production/40a1cc6aecde16902a65836b67954aa809d022ae-2560x1707.jpg?rect=0,0,2560,1251&amp;w=356&amp;h=174&amp;fm=webp" 
alt="Jese Leos avatar" 
class="image-transition mb-5 rounded-lg" 
style="view-transition-name: post-image-Testpage27; view-transition-duration: 5000ms; view-transition-timing-function: ease-in-out;" 
data-astro-cid-3jwsqc2o="">


<img src="https://cdn.sanity.io/images/tz4j4rda/production/40a1cc6aecde16902a65836b67954aa809d022ae-2560x1707.jpg?rect=0,0,2560,1254&amp;w=1280&amp;h=627&amp;fm=webp" 
alt="Hero Image" 
class="post-main-image rounded-lg shadow-lg" 
style="view-transition-name: post-image-Testpage27; view-transition-duration: 5000ms; view-transition-timing-function: ease-in-out;" 
data-astro-cid-bbe6dxrz="" 
width="1280" 
height="627" 
loading="lazy" 
decoding="async">
