* {
    box-sizing: border-box 
 }

.flexbox {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
    &.column {
        flex-direction: row;
        justify-content: space-between;
    }
    div, img {
        flex: 1 1 0;
        width: 100%;
    }
    
    > div:last-child {
        margin-left: 30px;
    }
    div:first-child {
        margin-right: 30px;
        margin-left: 0px;
    }

    .galleryItem {
        max-width: calc(33.33% - 15px);
    }
}


.text-content {
    color: #272727;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 20px;
        color: #047484;
    }
    .tagline {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 20px;
        color: #047484;
    }
}


.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}


// IntersectionObserver style
mark {
    --color1: #e5d75a;
    --color2: #e5d75a;
    --bg-height: 40%;
        
    all: unset;
    background-image: linear-gradient(var(--color1), var(--color2));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 var(--bg-height);
    animation: highlight 800ms 240ms ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


mark.highlight {
    color: #fff !important;

    --color1: #272727;
    --color2: #047484;
    --bg-height: 180%;
        
    all: unset;
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    background-size: 100% var(--bg-height);
}

@keyframes highlight {
    to {
        background-size: 100% var(--bg-height);
    }
}