$base-color: rgb(11 149 161);
$Secondary-color: rgb(77 189 198);
$Tertiary-color: rgb(4, 82, 89);
$base-shadow: 0px 4px 12px rgba(0,0,0,0.1), 0px 8px 24px rgba(0,0,0,0.1);


$standard-transition-fn: cubic-bezier(0.645, 0.045, 0.355, 1);