# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Logs
/logs
*.log

# Coverage directory used by testing tools
/coverage

# Misc
.DS_Store
*.pem

# Typescript
*.tsbuildinfo

# Dotenv and similar local-only files
*.local

# Assets 
/NodeMediaUploads/uploads/*.mp4
/NodeMediaUploads/uploads/*.webm
/NodeMediaUploads/uploads/*.png
/NodeMediaUploads/uploads/*.jpg
/NodeMediaUploads/uploads/*.webp

/NodeMediaUploads/uploads/videos/*.mp4
/NodeMediaUploads/uploads/videos/*.webm
/NodeMediaUploads/uploads/videos/*.png
/NodeMediaUploads/uploads/videos/*.jpg
/NodeMediaUploads/uploads/videos/*.webp